h1,
h4,
div.flip-card-back > p {
  font-family: "Rock Salt", sans-serif; }

.jumbotron,
.navbar-toggler {
  background-color: #42855b; }

nav {
  background-color: #483838; }

a,
footer {
  color: #ecf1be;
  letter-spacing: 1px; }

body {
  background-color: #90b77d;
  color: #ecf1be;
  letter-spacing: 4px; }

footer {
  background-color: #483838; }

svg {
  fill: #ecf1be; }

.jumbotron {
  background: linear-gradient(#42855b, #483838);
  padding: 2rem 1rem;
  margin-bottom: 2rem; }

.modal-header,
form,
form a {
  color: #483838;
  font-weight: 600;
  letter-spacing: 0px; }

html,
body {
  max-width: 100%;
  overflow-x: hidden; }

nav button.btn {
  background-color: #42855b;
  color: #ecf1be;
  font-size: 1.5rem;
  font-weight: 600;
  width: 10rem;
  margin-bottom: 1rem; }

.modal-header {
  color: #ecf1be;
  background-color: #483838;
  width: 100%; }

.modal-content {
  font-size: 1.1rem; }

.modal-title {
  font-size: 3rem; }

h4,
div.flip-card-back > p {
  font-weight: bolder;
  font-size: calc(max(20px, 2vw)); }

.navbar-toggler-icon {
  width: 32px;
  height: 40px;
  color: #483838; }

div.flip-card {
  background-color: transparent;
  perspective: 1000px;
  width: calc(max(30%, 500px));
  height: 500px; }

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d; }

div.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg); }

.flip-card-back {
  background-color: white;
  color: black;
  transform: rotateY(180deg); }

Card,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
  padding: 1rem;
  color: black;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); }
