$color-primary: #42855b;
$color-secondary: #90b77d;
$color-pale: #ecf1be;
$color-dark: #483838;
$color-black-transparent: rgba(0, 0, 0, 0.5);

$header-font: "Rock Salt", sans-serif;

#root {
    background-color: $color-secondary;
    color: $color-pale;
    letter-spacing: 4px;
    font-family: $header-font;
    height: 100vh;
}

.jumbotron,
.navbar-toggler {
    background-color: $color-primary;
}

nav {
    background-color: $color-dark;
}

a,
footer {
    color: $color-pale;
    letter-spacing: 1px;
}

footer {
    background-color: $color-dark;
}

svg {
    fill: $color-pale;
}

.jumbotron {
    background: linear-gradient($color-primary, $color-dark);
    padding: 2rem 1rem;
    margin-bottom: 2rem;
}

.modal-header,
form,
form a {
    color: $color-dark;
    font-weight: 600;
    letter-spacing: 0px;
}

nav button.btn {
    background-color: $color-primary;
    color: $color-pale;
    font-size: 1.5rem;
    font-weight: 600;
    width: 10rem;
    margin-bottom: 1rem;
}

.modal-header {
    color: $color-pale;
    background-color: $color-dark;
    width: 100%;
}

.modal-content {
    font-size: 1.1rem;
}

.modal-title {
    font-size: 3rem;
}

.navbar-toggler-icon {
    width: 32px;
    height: 40px;
    color: $color-dark;
}

.flip-card-back {
    background-color: white;
    color: black;
}

.card,
.flip-card-back {
    padding: 1rem;
    color: black;
    box-shadow: 2px 2px 5px $color-black-transparent;
    font-weight: bolder;
    font-size: calc(max(20px, 2vw));
}

.c {
    position: absolute;
    width: 500px;
    height: 500px;
    cursor: pointer;
    will-change: transform, opacity;
}