$color-primary: #42855b;
$color-secondary: #90b77d;
$color-pale: #ecf1be;
$color-dark: #483838;
$color-black-transparent: rgba(0, 0, 0, 0.5);

$header-font: "Rock Salt", sans-serif;

body {
    background-color: $color-secondary;
    color: $color-pale;
    letter-spacing: 4px;
    font-family: $header-font;
    overflow-x: hidden;
}

.menu,
.navbar-toggler {
    background-color: $color-primary;
}

a,
.menu,
.footer {
    color: $color-pale;
    letter-spacing: 1px;
}

a:hover {
    color: $color-primary;
}


.menu .ms-auto .nav-link:hover {
    color: $color-dark;
}

.footer {
    background-color: $color-dark;
}

svg {
    fill: $color-pale;
}

.modal-header,
form,
form a {
    color: $color-dark;
    font-weight: 600;
    letter-spacing: 0px;
}

nav button.btn {
    background-color: $color-primary;
    color: $color-pale;
    font-size: 1.5rem;
    font-weight: 600;
    width: 10rem;
    margin-bottom: 1rem;
}

.modal-header {
    color: $color-pale;
    background-color: $color-dark;
    width: 100%;
}

.modal-content {
    font-size: 1.1rem;
}

.modal-title {
    font-size: 3rem;
}

.navbar-toggler-icon {
    width: 32px;
    height: 40px;
    color: $color-dark;
}

.flip-card-back {
    background-color: white;
    color: black;
}

.card,
.flip-card-back {
    padding: 1rem;
    color: black;
    box-shadow: 2px 2px 5px $color-black-transparent;
    font-weight: bolder;
    font-size: calc(max(20px, 2vw));
}

.card:hover,
.flip-card-back:hover {
    rotate: 2deg;
}

.c {
    width: 400px;
    height: 400px;
    cursor: pointer;
    will-change: transform, opacity;
    backface-visibility: hidden;
}

.back-card {
    position: absolute;
}

.footer .bi {
    font-size: 50px;
} 

.menu h1,
.menu .ms-auto .nav-link {
    z-index: 0;
    color: $color-pale;
}

.menu .ms-auto .nav-link {
    font-size: 20px;
}

.menu .bi {
    font-size: 20px;
}

svg:hover {
    rotate: 10deg;
}

.flip-card-back h4 {
    font-size: 1.25vw;
}