$color-primary: #42855b;
$color-secondary: #90b77d;
$color-pale: #ecf1be;
$color-dark: #483838;
$color-black-transparent: rgba(0, 0, 0, 0.5);

$header-font: "Rock Salt", sans-serif;

h1,
h4,
div.flip-card-back>p {
    font-family: $header-font;
}

.jumbotron,
.navbar-toggler {
    background-color: $color-primary;
}

nav {
    background-color: $color-dark;
}

a,
footer {
    color: $color-pale;
    letter-spacing: 1px;
}

body {
    background-color: $color-secondary;
    color: $color-pale;
    letter-spacing: 4px;
}

footer {
    background-color: $color-dark;
}

svg {
    fill: $color-pale;
}

.jumbotron {
    background: linear-gradient($color-primary, $color-dark);
}

.modal-header,
form,
form a {
    color: $color-dark;
    font-weight: 600;
    letter-spacing: 0px;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

nav button.btn {
    background-color: $color-primary;
    color: $color-pale;
    font-size: 1.5rem;
    font-weight: 600;
    width: 10rem;
    margin-bottom: 1rem;
}

.modal-header {
    color: $color-pale;
    background-color: $color-dark;
    width: 100%;
}

.modal-content {
    font-size: 1.1rem;
}

.modal-title {
    font-size: 3rem;
}

h4.card-title,
div.flip-card-back>p {
    font-weight: bolder;
    font-size: calc(max(20px, 2vw));
}

.navbar-toggler-icon {
    width: 32px;
    height: 40px;
    color: $color-dark;
}

div.flip-card {
    background-color: transparent;
    perspective: 1000px;
    width: calc(max(30%, 500px));
    height: 500px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

div.flip-card:hover .flip-card-inner{
        transform: rotateY(180deg);
}

.flip-card-back {
    background-color: white;
    color: black;
    transform: rotateY(180deg);
}

div.card,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;

    padding: 1rem;
    color: black;
    box-shadow: 2px 2px 5px $color-black-transparent;
} 