body {
  background-color: #90b77d;
  color: #ecf1be;
  letter-spacing: 4px;
  font-family: "Rock Salt", sans-serif;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu,
.navbar-toggler {
  background-color: #42855b;
}

a,
.menu,
.footer {
  color: #ecf1be;
  letter-spacing: 1px;
}

a:hover {
  color: #42855b;
}

.menu .ms-auto .nav-link:hover {
  color: #483838;
}

.footer {
  background-color: #483838;
}

svg {
  fill: #ecf1be;
}

nav button.btn {
  background-color: #42855b;
  color: #ecf1be;
  font-size: 1.5rem;
  font-weight: 600;
  width: 10rem;
  margin-bottom: 1rem;
}

.navbar-toggler-icon {
  width: 32px;
  height: 40px;
  color: #483838;
}

.flip-card-back {
  background-color: white;
  color: black;
}

.card,
.flip-card-back {
  padding: 1rem;
  color: black;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  font-weight: bolder;
  font-size: max(20px, 2vw);
}

.card:hover,
.flip-card-back:hover {
  rotate: 2deg;
}

.c {
  width: 400px;
  height: 400px;
  cursor: pointer;
  will-change: transform, opacity;
  backface-visibility: hidden;
}

.back-card {
  position: absolute;
}

.footer .bi {
  font-size: 50px;
}

.menu h1,
.menu .ms-auto .nav-link {
  z-index: 0;
  color: #ecf1be;
}

.menu .ms-auto .nav-link {
  font-size: 20px;
}

.menu .bi {
  font-size: 20px;
}

svg:hover {
  rotate: 10deg;
}

.flip-card-back h4 {
  font-size: 1.25vw;
}

.screen {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.about-page {
  margin-top: 4rem;
  margin-bottom: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-pic {
  width: 40%;
}

.about-text {
  width: 40%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  margin-right: -200px;
  z-index: 1;
}

.about-text h3, p {
  margin-bottom: 2rem;
}

.about-text h3 {
  font-size: 2.5rem;
}

.about-text p,
.contact-page {
  font-size: 1.2rem;
}

.form-control {
  font-size: 1.5rem;
}

button {
  width: 200px;
  height: 60px;
  font-size: 1.5rem !important;
  color: #ecf1be !important;
}

.form-page {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2rem;
}

.paypal-btn,
.venmo-btn {
  width: 500px;
  height: 50px;
}

.paypal-btn {
  margin: 2rem auto;
}

.venmo-btn {
  margin: 0 auto;
}

.donate-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 750px;
}

.donate-content {
  background-color: rgba(0, 0, 0, 0.5);
  height: auto;
  padding: 2rem;
}

.donate-content h1,
.donate-content p {
  text-align: center;
  margin-bottom: 1rem;
}

.donate-content p {
  font-size: 1.2rem;
}

.amount-picker {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
}

.donate-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

label {
  margin: 1rem;
  font-size: 1.2rem;
}

/*# sourceMappingURL=App.css.map */
